@font-face {
  font-family: "charter";
  src: url("font/charter/webfonts/charter_regular-webfont.woff") format("woff");
}

article {
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: var(--font-normal);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.004em;
  overflow-wrap: break-word;
  text-rendering: optimizeSpeed;
  word-break: break-word;
  margin-bottom: 48px;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 991px) {
  article {
    font-size: var(--font-large);
  }
}

article p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

article blockquote p {
  margin: 0;
  background-color: #f8fffe;
}

.article-figure {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
}

.article-picture {
  text-align: center;
}

.article-image {
  max-width: 400px;
  width: 100%;
}

.figcaption {
  padding: 5px 30px;
  border-bottom: 1px solid #e5e5e5;
  color: #999;
  font-size: var(--font-small);
  line-height: 18px;
  background-color: #fff;
}

#heading-breadcrumbs {
  background: url("../img/quote-background-dark.png") center center repeat;
  margin-bottom: 10px;
}

/* 
Light looks better on phones & tablets
*/
@media (max-width: 990px) {
  #heading-breadcrumbs {
    background: url("../img/quote-background-light.png") center center repeat;
  }
}

#footer {
  padding: 0;
  padding: 24px 0;
  color: #999999;
  margin-top: 24px;
}

#footer p {
  font-size: var(--font-tiny);
}

.fa,
.fas {
  font-size: 24px;
}

#listed-content:not(:empty) {
  margin-bottom: 48px;
}

#metadata-author-date {
  font-size: var(--font-tiny);
}

.collection-navigation-actions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding-left: 10px;
}

.collection-navigation {
  padding-top: 1rem;
}

.collection-navigation-title {
  display: inline-block;
  border-bottom: solid 5px var(--primary-accent);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height: 1.1;
  margin-bottom: 20px;
  padding: 10px 0;
}

#listed-posts .img-responsive {
  max-height: 345px;
  min-width: 100%;
  object-fit: contain;
  margin-bottom: 8px;
}