/* your styles go here */
/* Example site test */

.article-figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.article-picture {
  text-align: center;
}

.article-image {
  max-width: 400px;
  width: 100%;
}

.figcaption {
  padding: 5px 30px;
  border-bottom: 1px solid #e5e5e5;
  color: #999;
  font-size: 14px;
  line-height: 18px;
  background-color: #fff;
}

#footer {
  padding: 0;
  padding: 24px 0;
  color: #999999;
  margin-top: 24px;
}

.fa,
.fas {
  font-size: 24px;
}

#listed-content:not(:empty) {
  margin-bottom: 40px;
}
